.order-title {
  margin: 20px 40px;
  font-size: 21px;
  letter-spacing: 2px;
  font-family: Verdana, sans-serif;
}

.order {
  font-family: Verdana, sans-serif;
  width: 40%;
  min-width: 300px;
  margin: 30px auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border: 1px solid lightgrey;
  .wrapOrderInfo {
    .wrapProduct {
      margin: 10px 0px;
    }
  }
  .wrapLaTP {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#orderForm {
  font-family: Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 15px auto;
  @media screen and (max-width: 800px) {
    width: 60%;
  }
  @media screen and (max-width: 500px) {
    width: 90%;
  }
  label {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 400;
    &:first-child {
      margin-top: 0px;
    }
  }
  input {
    outline: none;
    height: 50px;
    padding: 0px 20px;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
  }
  label[for="nameInput"] {
    &:before {
      content: url("../assets/img/profile.png");
      margin-right: 7px;
    }
  }
  label[for="phoneInput"] {
    &:before {
      content: url("../assets/img/telephone.png");
      margin-right: 7px;
    }
  }
  label[for="pointInput"] {
    &:before {
      content: url("../assets/img/shop.png");
      margin-right: 7px;
    }
  }
  label[for="timeInput"] {
    &:before {
      content: url("../assets/img/clock.png");
      margin-right: 7px;
    }
  }
  label[for="dateInput"] {
    &:before {
      content: url("../assets/img/calendar.png");
      margin-right: 7px;
    }
  }

  #pointInput {
    outline: none;
    height: 50px;
    padding: 0px 20px;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
  }

  input[type="time"]::-webkit-inner-spin-button,
  input[type="time"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  #orderSubmitBtn {
    margin: 40px 0px 20px 0px;
    padding: 10px;
    font-size: 25px;
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 2px;
    transition: all 0.4s;
    outline: none;
    &:hover {
      color: black;
      background-color: white;
    }
  }
}

.backToShop {
  color: black;
  &:hover {
    color: black;
  }
  @media screen and (max-width: 500px) {
    font-size: 12px;
  }
}

.successOrderModal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  &.show {
    opacity: 1;
    visibility: visible;
    z-index: 4;
  }
  .modalWindow {
    max-width: 700px;
    min-width: 300px;
    width: 100%;
    min-height: 350px;
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    .message {
      color: black;
      font-size: 30px;
      text-align: center;
      @media screen {
        font-size: 20px;
      }
    }
    .backToShopButton {
      margin: 40px 0px 20px 0px;
      padding: 10px;
      font-size: 25px;
      color: white;
      background-color: black;
      border: 2px solid black;
      border-radius: 2px;
      transition: all 0.4s;
      outline: none;
      text-decoration: none;
      &:hover {
        color: black;
        background-color: white;
      }
    }
  }
}
